
<div id="projects" class="container-fluid bg-gray padding35">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>PETS <b>GALLERY</b></h3>
            </div>


            <div id="portfolio-carousel-home" class="owl-carousel">

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p1.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p3.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p4.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p8.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p9.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p6.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p11.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-top">
                        <img alt="" class="img-responsive" src="/images/p5.jpg">
                        <div class="mask"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<!--&lt;!&ndash;Carousel Wrapper&ndash;&gt;-->
<!--<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">-->
    <!--&lt;!&ndash;Slides&ndash;&gt;-->
    <!--<div class="carousel-inner" role="listbox">-->

        <!--&lt;!&ndash;First slide&ndash;&gt;-->
        <!--<div class="carousel-item active">-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p1.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p5.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p3.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p4.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/.First slide&ndash;&gt;-->

        <!--&lt;!&ndash;Second slide&ndash;&gt;-->
        <!--<div class="carousel-item">-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p6.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p7.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p8.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p9.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/.Second slide&ndash;&gt;-->

        <!--&lt;!&ndash;Third slide&ndash;&gt;-->
        <!--<div class="carousel-item">-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p10.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p11.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p12.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3 mb-3">-->
                <!--<div class="card">-->
                    <!--<img class="img-fluid shadow" src="/images/p13.jpg"-->
                         <!--alt="Card image cap">-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/.Third slide&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;/.Slides&ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash;/.Carousel Wrapper&ndash;&gt;-->