<!doctype html>
<html lang="en">
<head>
    <title> Perfect Pets </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--css-->
    <link rel='stylesheet' type="text/css" href='/stylesheets/style-backend.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/AdminLTE.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/pagerStyle.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/_all-skins.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/jquery.datetimepicker.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/font-awesome.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/pagination.css'/>

    <!--icon-title-->
    <link rel="icon" type=”image/png” href="/images/icon-6.png"/>

    <!--fa fa icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        #demo, .paginationjs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>