<head>

    <title> Perfect Pets </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--css-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/custom.css'/>

    <!--icon-title-->
    <link rel="shortcut icon" type="image/png" href="/images/icon-6.png"/>

    <!--fa fa icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Include SmartWizard CSS -->
    <link href="/smartwizard/css/smart_wizard.css" rel="stylesheet" type="text/css"/>

    <!-- Optional SmartWizard theme -->
    <link href="/smartwizard/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css"/>
    <link href="/smartwizard/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css"/>
    <link href="/smartwizard/css/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css"/>
</head>