<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><i class="fa fa-paw"></i> </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">PET SERVICE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu text-center">

            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img src=""-->
                             <!--onerror=""-->
                             <!--class="user-image">-->
                        <!--<span class="hidden-xs"></span>-->
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src=""
                                 onerror="" class="img-circle" alt="User Image">
                            <p class="text-center" style="margin: 0"></p>
                            <div class="text-left">
                                <small class="text-white">ระดับพนักงาน :</small>
                                <br>
                                <small class="text-white">อีเมล์ :</small>
                                <br>
                                <small class="text-white">เบอร์โทรศัพท์ :</small>
                            </div>
                        </li>
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                <a href="/" class="btn btn-default btn-flat">ออกจากระบบ</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>