<!-- HEADER START -->
<section id="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">PET SERVICE</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="service"><h2 style="margin-top: 5px">PET SERVICE</h2></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="https://find-my-house.herokuapp.com/" class="toggle" role="button" aria-haspopup="true" aria-expanded="false">Find
                            My House
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="/service" class="toggle" role="button" aria-haspopup="true" aria-expanded="false">Pet
                            Service</a>
                    </li>
                    <% if( userdata === null) { %>
                        <li class="dropdown">
                            <a href="/register" class="toggle" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                        </li>

                        <li class="dropdown">
                            <a href="/login" class="toggle" role="button" aria-haspopup="true"
                               aria-expanded="false">Login</a>
                        </li>
                    <% } else if( userdata.status === 'consumer' ) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">Grooming</a>
                            <ul class="dropdown-menu">
                                <li><a href="/grooming">Reservations</a></li>
                                <li><a href="/detail_grooming">List</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">Pet Hotel</a>
                            <ul class="dropdown-menu">
                                <li><a href="/hotel">Reservations</a></li>
                                <li><a href="/detail_hotel">List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/login" class="toggle" role="button" aria-haspopup="true"
                               aria-expanded="false">My Profile</a>
                        </li>
                        <li class="dropdown">
                            <a href="/logout" class="toggle" role="button" aria-haspopup="true"
                               aria-expanded="false">Logout</a>
                        </li>
                    <% } else{ %>
                        <li class="dropdown">
                            <a href="/user/<%= userdata.username%>" class="toggle" role="button" aria-haspopup="true"
                               aria-expanded="false">My Profile</a>
                        </li>
                        <li class="dropdown">
                            <a href="/admin" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">manage system</a>
                            <ul class="dropdown-menu">
                                <li><a href="/manage_hotel/">manage hotel</a></li>
                                <li><a href="/manage_Grooming">manage grooming</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/logout" class="toggle" role="button" aria-haspopup="true"
                               aria-expanded="false">Logout</a>
                        </li>
                    <% } %>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- HEADER END -->