<!-- HERO SLIDER -->
<section class="cd-hero">
    <ul class="list-unstyled cd-hero-slider autoplay">
        <li class="selected" style="background-image:url('/images/slide1.png');"></li>
        <li style="background-image:url('/images/slide2.png');"></li>
        <li style="background-image:url('/images/slide3.png');"></li>
        <li style="background-image:url('/images/slide4.png');"></li>
        <li style="background-image:url('/images/slide5.png');"></li>
    </ul>


    <div class="arrow-nav">
        <div class="prev"><a class="hero-prev" href="#"><i class="fa fa-angle-left"></i></a></div>
        <div class="next"><a class="hero-next" href="#"><i class="fa fa-angle-right"></i></a></div>
    </div>

</section>