<% include partials/head-backend %>
<body class="skin-yellow-light sidebar-mini">
<div class="wrapper">
    <% include partials/navbaradmin %>
    <div id="posContain" class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" id="form_data" name="form_data" method="post">

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- ./wrapper -->

<!--javascript-->
<script src="partials/javascript.ejs"></script>
<script>
    $('#menu-index').addClass('active');
</script>
</body>