<% include partials/head %>
<body id="bd-index" >
<!-- WRAPPER START -->
<div id="wrapper">
    <div class="col-12 ">
        <a href="/"><img  src="/images/pet-logo.png" class="rounded float-left" style="width: 400px"></a>
    </div>

    <!-- CONTENT START -->
    <section id="home-content">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12" style="padding: 10%">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-md-6 col-sm-6 text-center wow bounceIn">
                                <a  href="service"><img alt="" class="img-responsive img-rounded card-custom"
                                                        src="/images/bn_findmyhome.png"></a>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center wow bounceIn">
                                <a  href="service"><img alt="" class="img-responsive img-rounded card-custom"
                                                        src="/images/bn_service.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- CONTENT END -->
</div>
<!-- WRAPPER END -->

</body>
