<% include partials/head %>
<body>
<% userdata %>
<div id="wrapper">
    <% include partials/navbar %>

    <!-- PAGE TITLE START -->
    <section id="title" class="container-fluid wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>Register</h1>
                </div>
                <div class="col-xs-6 text-right breadcrumbs">
                    <ul class="list-inline list-unstyled">
                        <li><a href="service">Home</a></li>
                        <li>/</li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE TITLE END -->

    <section id="home-content">
        <!-- CONTENT START -->
        <div class="col-2 ">
            <div class="container">

            </div>
        </div>
        <div class="container padding15">
            <div id="signup">
                <form method="POST" action="/register" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <div class="form-group">
                                <h4>ข้อมูลส่วนตัว</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">ชื่อ (ภาษาไทย)</label>
                                <input id="name" name="name" class="form-control" value="ชื่อจริง" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="lname">นามสกุล (ภาษาไทย)</label>
                                <input id="lname" name="lname" class="form-control" value="นามสกุล" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="gender">เพศ</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option value="ชาย">ชาย</option>
                                    <option value="หญิง">หญิง</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <img name="image" id="image" src='images/user2-160x160.jpg' height="200" alt="">
                                <input type="file" id="picture" name="picture" onchange="previewFile()"><br>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <div class="form-group">
                                <h4>ที่อยู่ปัจจุบัน</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <div class="form-group">
                                <label for="address">บ้านเลขที่</label>
                                <input id="address" name="address" class="form-control" onblur="trimValue(this)"
                                       type="text" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="village">หมู่/หมู่บ้าน</label>
                                <input id="village" name="village" class="form-control" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" type="text" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="road">ถนน</label>
                                <input id="road" name="road" class="form-control" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" type="text">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <div class="form-group">
                                <label for="subdistrict">ตำบล/แขวง</label>
                                <input id="subdistrict" name="subdistrict" type="text" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="district">อำเภอ/เขต</label>
                                <input id="district" name="district" type="text" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="province">จังหวัด</label>
                                <input id="province" name="province" type="text" onblur="trimValue(this)"
                                       onkeypress="chkThai(event)" class="form-control" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <div class="form-group">
                                <label for="zipcode">รหัสไปรษณีย์</label>
                                <input id="zipcode" name="zipcode" type="text" onblur="trimValue(this)"
                                       onkeypress="chkInteger(event)" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="phone">เบอร์โทรศัพท์</label>
                                <input id="phone" name="phone" type="text" onblur="trimValue(this)"
                                       onkeypress="chkInteger(event)" maxlength="10" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="username">username</label>
                                <input id="username" name="username" type="text" value="example@hotmail.com"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <div class="form-group">
                                <label for="password">รหัสผ่าน</label>
                                <input id="password" name="password" value="password    " type="password" onblur="trimValue(this)"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <input type="text" id="status" name="status" value="consumer"  hidden>
                    <div class="form-group">
                        <div align="center">
                            <label class="col-sm-4 control-label">
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-success" href="">Submit</button>
                            <a class="btn btn-default" href="/service">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <% include partials/footer %>
</div>
<!-- CONTENT END -->


<!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<script src="/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- EDURA JS REQUIRED ON ALL PAGES-->
<script src="/javascripts/script.js"></script>
<script src="/javascripts/screen.js"></script>
<script>
    function previewFile() {
        var preview = document.querySelector('img'); //selects the query named img
        var file = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    // previewFile();  //calls the function named previewFile()

    function chkThai(e) {
        var keyCode = getKeyCode(e);
        if (((keyCode <= 90) && (keyCode >= 65)) || ((keyCode <= 122) && (keyCode >= 97))) {
            cancelEvents(e);
        }
    }

    function chkInteger(e) {
        var keyCode = getKeyCode(e);
        if ((keyCode < 48) || (keyCode > 57)) {
            cancelEvents(e);
        }
    }


</script>
</body>