<% include partials/head %>
<body>
<!-- WRAPPER START -->
<div id="wrapper">
    <% include partials/navbar %>
    <% include partials/slide %>
    <div id="intro" class="container-fluid bg-dark padding15">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-left">
                </div>

                <div class="col-md-2 text-center">

                </div>
            </div>
        </div>
    </div>


    <!-- CONTENT START -->
    <section id="home-content">

        <div class="container" style="padding: 20px">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 text-center wow bounceIn">
                            <a href="grooming"><img alt="Grooming" title="Grooming"
                                                    class="img-responsive img-rounded card-custom"
                                                    src="//images.ctfassets.net/2t8dhn7s97w9/501sHOMP3oOX7Z6FFHmE9u/2a7f262612d85784d01be12af3230139/grooming_logo_with_text.svg"
                                                    style="background-color: #ce8483"></a>
                        </div>
                        <div class="col-md-6 text-center wow bounceIn">
                            <a href="hotel"><img alt="Pet Hotel" title="Pet Hotel"
                                                 class="img-responsive img-rounded card-custom"
                                                 src="//images.ctfassets.net/2t8dhn7s97w9/4FmQFHvqaJil74IeQxpMw5/407927d6a136a3e31ab43b72e497a1f0/petshotel_logo_with_text.svg"
                                                 style="background-color: #39cccc"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="home-intro" class="container padding35">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 text-center wow bounceIn">
                            <img alt="" class="img-responsive img-circle" src="/images/contact1.jpg">
                        </div>

                        <div class="col-md-6 wow fadeIn">
                            <h4>PET <b>SERVICE</b></h4>
                            <p>Animal treatment, bathing, haircut, health check, surgery, animal husbandry, sick
                                Off-site
                                service Pet grooming And veterinarians. </p>
                            <ul class="list-unstyled home-list">
                                <li><i class="fa fa-check-circle fa-fw"></i> Grooming</li>
                                <li><i class="fa fa-check-circle fa-fw"></i> Pet Hotel</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div id="services-4">
                        <div class="row wow fadeIn">
                            <div class="col-md-12">
                                <h4 class="text-uppercase">Contract</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature wow fadeInUp">
                                    <i class="fa fa-map-marker"></i>
                                    <h5 class="text-uppercase"><b>Address</b></h5>
                                    <p>126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon
                                        10140</p>
                                </div>
                                <div class="feature wow fadeInUp">
                                    <i class="fa fa-phone"></i>
                                    <h5 class="text-uppercase"><b>Phone</b></h5>
                                    <p>+66 2470 8000</p>
                                </div>
                                <div class="feature wow fadeInUp">
                                    <i class="fa fa-clock-o"></i>
                                    <h5 class="text-uppercase"><b>Open</b></h5>
                                    <p>8.30 am. - 4.30 pm.</p>
                                </div>
                                <div class="feature wow fadeInUp">
                                    <i class="fa fa-envelope"></i>
                                    <h5 class="text-uppercase"><b>Email</b></h5>
                                    <p>info@kmutt.ac.th</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <% include partials/gallery %>

        <div id="intro" class="container-fluid bg-white padding15">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 text-left">
                    </div>

                    <div class="col-md-2 text-center">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT END -->
    <% include partials/footer %>
</div>
<!-- WRAPPER END -->

<!-- back to top button -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="เลื่อนขึ้น"
   data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>


<!-- MAIN JS FILES REQUIRED ON ALL PAGES -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendor/SmoothScroll/SmoothScroll.min.js"></script>
<!--<script src="/vendor/waypoints/waypoints.min.js"></script>-->
<script src="/vendor/counterup/jquery.counterup.min.js"></script>
<!-- HERO SLIDER-->
<script src="/vendor/hero-slider/js/modernizr.js"></script>
<script src="/vendor/hero-slider/js/main.js"></script>
<!-- OWL CAROUSEL -->
<script src="/vendor/owl-carousel/owl.carousel.js"></script>
<!-- EDURA JS REQUIRED ON ALL PAGES-->
<script src="/javascripts/script.js"></script>

</body>
